body {
  background-color: black;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  border: 2px solid white;
  padding: 2rem;
  width: 300px;  /* square shape */
  height: 300px;
}
