body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#preview {
  width: 200px; /* square size */
  height: 200px;
  object-fit: cover;
}
